.banner-imagem {
    width: 100%;
    height: 698px;
    object-fit: cover;
}
.banner-slider-container {
    width: 50%;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 80%;
    }
}

.banner-slide-dotes {
    display: flex;
    justify-content: space-between;
}

.banner-dots {
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        width: 90%;
        right: 20px;
        justify-content: flex-end;
    }

    @media (max-width: 376px) {
        bottom: 30px;
        right: 0px;
    }

    @media (max-width: 281px) {
        bottom: 30px;
    }
}

.slide-dotes-description {
    position: absolute;
    width: 150px;
    height: 43;
    padding: 12px 24px;
    left: 50px;
    bottom: 60px;
    cursor: pointer;
    background-color: rgb(233, 233, 239, 0.3);
    border: 1px solid #ffffff;
    color: #ffffff;
    line-height: 19px;
}
