.header,
.headerScroll {
    width: 50%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 16px;
    z-index: 99;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 80%;
        left: 10%;
    }
}

.headerScroll {
    background-color: #ffffff;
}

.navigation {
    display: flex;

    li {
        list-style: none;
        margin: 0 1rem;
        cursor: pointer;
    }
}

.navigation-scroll {
    display: flex;
    li {
        list-style: none;
        margin: 0 1rem;
        cursor: pointer;
    }
}
