.container {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}

.blog-container {
    display: flex;
    flex-direction: column;
}

.blog-title {
    font-weight: 400;
    line-height: 22px;
    color: '#1D1D1D';
}

.blog-description {
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    color: '#8A8A8A';
    margin: 1rem 0;
}
